*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    background-color:green;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    background:linear-gradient(rgba(130, 180, 107, 0.603), rgba(130,180,107,0.603));
}
.nav span{
    margin-right:30rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}
.nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom:20px;
    padding-top: 10px;
}
.nav a{
    color: green;
    text-decoration: none;
    background-color: mediumturquoise;
    padding:8px;
}
.nav a:hover{
    color: mediumturquoise;
    background-color: green;
}
.full-details{
    margin-top:7rem;
    margin-left:10rem;
    display: flex;
    flex-direction:row;
}
.getstart-img img{
    margin-left: 3rem;
}
.getstart h1{
    font-size: 40px;
}
.getstart p{
    font-size: 25px;
}
.getstart a{
        color:white;
        background-color:dodgerblue;
        font-size: 25px;
        text-decoration: none;
}
.getstart a:hover{
    color: wheat;
    background-color:rgb(14, 131, 248);
}
.quote{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homepage2{
    display: none;
}
.closenav{
    display: none;
}
.job-nav1{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 1rem;
}
.works-field span{
    background-color: blue;
    border-radius: 50%;
    font-size: 15px;
    padding: 0.5rem;
    color: white;
}
.works-field span:nth-child(3){
    background-color: unset !important;
    border-radius: unset;
    color: black;
}
.works-field-2 span:nth-child(2){
    background-color: unset !important;
    border-radius: unset;
    color: black;
}
.content-works{
    border: 1px solid black;
    width: 0px;
    margin-left: 10.5rem;
    margin-top: 10px;
    height: 100px;
    opacity: 0.5;
}
.content-works-2{
    margin-left: 0.5rem;
}
.works-field-2 p{
    float: right;
    margin-right: 46.3rem;
    margin-top: 2rem;
}
.works-field-3 p{
    float:right;
    margin-right:32.7rem;
    margin-top: 2rem;
}
.content-works-3{
    border: 1px solid black;
    width: 0px;
    margin-left:0.5rem;
    margin-top: 10px;
    height: 100px;
    opacity: 0.5;
}
.works-field-3 span:nth-child(2){
    background-color: unset !important;
    border-radius: unset;
    color: black;
}
.works-field-4 span:nth-child(2){
    background-color: unset !important;
    border-radius: unset;
    color: black;
}
.works-field-4 p{
    float:right;
    margin-right:34rem;
    margin-top: 2rem;
}
.job-des{
    display: flex;
    flex-direction:row;
    margin-left: 1rem;
    margin-top: 10rem;
}
.job-des-link{
    display:flex;
    flex-direction: column;
}
.job-des-link p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.job-des-link a{
    margin-top: 1rem;
    text-decoration: unset;
    color: black;
}
.job-des-link a:hover{
    text-decoration: underline;
}
.job-des-link-2{
    margin-left: 12rem;
}
.job-des-link-3{
    margin-left: 12rem;
}
.job-des-link-4{
    margin-left: 12rem;
}
.copyright-section{
    background-color:black;
    color: white;
    width: 100%;
    height: 80px;
    padding: 2rem 0px 0px 2px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.copy{
    margin-left: 2rem;
}
.copy a{
    text-decoration: unset;
    color: white;
}
.copy-link{
    float: right;
    margin-right: 2rem;
}
.copy-link a img{
    opacity: 0.5;
    color: white;
}
.copy-link a{
    padding-left:1rem;
}
.copy-link a img:hover{
    opacity: 2;
}
@media screen and (max-width:378px) {
    .homepage2{
        width: 40.2rem;
    }
    .openbtn{
        margin-right: 1rem;
        font-size: 25px;
    }
    .nav span{
        font-size: 10px;
    }
    .quote{
        margin-left: 10rem;
        margin-top: unset;
    }
    .job-nav1{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-left: 4rem;
    }
    .job-nav2{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-left: 4rem !important;
    }
    .scopes{
        margin-left:21.6rem !important;
    }
}
@media screen and (max-width:595px) {
    .homepage2{
        width: 40.2rem;
    }
    .openbtn{
        margin-right: 1rem;
        font-size: 25px;
    }
    .nav span{
        font-size: 10px;
    }
    .quote{
        margin-left: 10rem;
        margin-top: unset;
    }
    .job-nav1{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-left: 4rem;
    }
    .job-nav2{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-left: 4rem !important;
    }
    .scopes{
        margin-left:21.6rem !important;
    }
}
@media screen and (max-width:686px){
.homepage{
    display: none;
}
.homepage2{
    display: flex; 
    padding-top: 20px;
    padding-bottom: 10px;
    background:linear-gradient(rgba(130, 180, 107, 0.603), rgba(130,180,107,0.603));
}
.closenav a{
    color:darkgoldenrod;
}
.closenav a:hover{
    transition: 2s ease-in-out;
    color: lightslategray;
}
}

